* {
    margin: 0;
    padding: 0;
}

*,
*::before
*::after {
    box-sizing: inherit;
}

html {
    font-size: 62.5%; // 10px (10px / 16px = 62.5%)
    box-sizing: border-box;
}

body {
    font-size: 1.6rem;
    background-color: #010101;
    font-family: raleway_f, sans-serif;
    line-height: 1.55;
}