@font-face {
    font-family: raleway_f;
    src: url("../fonts/raleway-regular.woff2") format("woff2");
    font-weight: normal;
}

@font-face {
    font-family: raleway_f;
    src: url("../fonts/raleway-black.woff2") format("woff2");
    font-weight: 900;
}