.h1 {
    font-weight: 900;
    font-size: calc(var(--index) * 2.5);
    letter-spacing: calc(var(--index) / 2.25);
    color: var(--text);
    text-shadow: 0 0 15px #9e7d35;
}

.h2 {
    text-transform: uppercase;
    font-size: calc(var(--index) * 1.8);
    letter-spacing: calc(var(--index) / 7.5);
}